<nav id="actions-navigation">
  <aside>
    <p class="main-light-normal text-size-sm">{{ app.user.firstname ~ " " ~ app.user.lastname }}</p>
  </aside>
  <aside id="datetime" >
    <p id="date" class="main-light-normal text-size-sm"></p>
    <p id="time" class="main-light-normal text-size-sm"></p>
  </aside>
</nav>