<section class="empty-table">
  <div>
    <img src="{{ asset("assets/imgs/utilities/empty-folder.png")}}" height="200">
  </div>
  <div>
    <h2>Votre premier {{ itemName }} n'est pas encore arrivé</h2>
    <p>Vous n'avez aucun {{ itemName }} pour l'instant. Lorsque vous en aurez, ils apparaitront dans un tableau sur cette page.</p>
  </div>
</section>