<section class="empty-table">
  <div>
    <img src="{{ asset("assets/imgs/utilities/empty-folder.png")}}" height="200">
  </div>
  <div>
    <h2>Votre première {{ itemName }} n'est pas encore arrivé.</h2>
    <p>Vous n'avez aucune {{ itemName }} pour l'instant. Lorsque vous en aurez, elles apparaitront dans un tableau sur cette page.</p>
  </div>
</section>