<div id="flash-messages">
{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="flash-item flash-{{label}}">
      <img src="{{ asset("assets/imgs/icons/utilities/" ~ label ~".svg") }}" alt="" width="25">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endfor %}
</div>