{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
<main>
{% for article in articles %}
<p>
  {{ article.title}}
</p>
{% endfor %}
</main>
{% endblock %}
